.todoItem {
  display: flex;
  justify-content: center;
  align-items: baseline;

  padding: 1rem 0;
  width: 80%;
  max-width: 300px;
  margin: 12px 0;

  background-color: #f6f7f8;
  position: relative;

  border-radius: 8px;
  box-shadow: #01162771 0.25em 0.25em 0.5em;
}

.todoItem-p {
  flex: 5;

  margin: 0;
  padding: 8px 0;

  font-weight: 500;
  color: #011627;
}

.todoItem-p--completed {
  font-weight: 300;

  text-decoration: line-through;
}

.icon {
  padding: 0;
  margin: 0;

  font-weight: bolder;

  transition: 0.25s;
}

.icon-delete {
  color: var(--secondary-color-dark);

  font-size: 1.5rem;
  font-weight: 500;

  position: absolute;
  top: -32px;
  right: 10px;

  cursor: pointer;
}

.icon-delete:hover {
  color: var(--secondary-color);
  font-weight: bold;
}

.icon-complete {
  flex: 1;

  text-align: center;

  cursor: pointer;
}

.icon-complete:hover {
  color: var(--primary-color);
}

.icon-complete--active {
  color: var(--primary-color);
}
