.todoSearchLoading {
  width: 100%;
  max-width: 400px;
  height: 2rem;

  margin: 1rem 0;

  background: linear-gradient(
    180deg,
    rgba(119, 119, 119, 1) 0%,
    rgba(205, 205, 205, 1) 100%
  );
  background-size: 300% 300%;
  background-position: top;
  transition: background-position 1s;

  text-align: center;

  border: none;
  border-radius: 8px;

  animation: loading-animation 1.5s ease-in-out infinite;
}

@keyframes loading-animation {
  0% {
    background-position: top;
  }
  50% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}
